fiona==1.9.6
Flask==3.1.0
geopandas==1.0.1
h5py==3.12.1
numpy==2.1.3
opencv_python_headless==4.10.0.84
pandas==2.2.3
rasterio==1.3.10
rasterstats==0.20.0
ray==2.39.0
Requests==2.32.3
rioxarray==0.18.1
Shapely==2.0.6
tqdm==4.66.5
waitress==3.0.2
xarray==2024.7.0
netCDF4==1.7.2
h5netcdf==1.4.1
psutil==6.1.0
grpcio
aiohttp
aiohttp_cors
opencensus
prometheus_client
pydantic
